@CHARSET "UTF-8";

.mainMenu {
	height:37px;
	width:1000px;
	z-index:100000000;
	position:relative;
}

ul.generic-menu {
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	z-index:1100;
}

ul.generic-menu li {
	display:block;
	height:27px;
	padding:10px 19px 0 19px;
	float:left;
	margin:0 5px 0 0;
	background: url(/theme/img/mainmenu/top_inactive_bg.png) bottom left repeat-x;
	position:relative;
}

ul.generic-menu li a {
	font-size:14px;
	font-weight:bold;
	color:#0c6db7;
}

ul.generic-menu li ul {
	list-style:none;
	margin:0;
	padding:0;
	z-index:1100;
	display:none;
}

ul.generic-menu li.hover {
	background:#0c6db7;
}

ul.generic-menu li.hover a {
	color:white;
	text-decoration:none;
}

ul.generic-menu li.hover ul {
	display:block;
	z-index:1100000;
}

ul.generic-menu li.hover  ul li a {
	font-size:12px;
	color:#0c6db7;
}

ul.generic-menu li.hover  ul li.hover a {
	font-size:12px;
	color:#fff;
}

ul.generic-menu li a {
	font-size:14px;
	font-weight:bold;
	color:#0c6db7;
}

ul.generic-menu li  ul {
	position:absolute;
	padding:0;
	margin:0 0 0 -20px;
	top:37px;
	z-index:110000;
}

ul.generic-menu li  ul li {
	display:block;
	float:none;
	min-width:100%;
	height:30px;
	margin:0;
	padding:0;
	background:#F1F1F1;
}

ul.generic-menu li  ul li a {
	margin:0;
	padding:0;
	white-space:nowrap;
	font-size:12px;
	display:block;
	padding:5px 15px 5px 15px;
}

.bottomMenu	{
	float:right;
	width:750px;
	margin:20px 15px 15px 0;
}

.bottomMenu	ul {
	margin:0;
	padding:0;
	list-style:none;
}

.bottomMenu	ul li {
	float:left;
	display:block;
}

.bottomMenu	ul li.other {
	float:left;
	display:block;
	background:url(/theme/img/bottom_menu_bg.png) top left repeat-y;
	padding:0 0 0 10px;
}

.bottomMenu	ul li a {
	font-weight:bold;
	color:#4d4d4d;
	margin:0 10px 0 0;
	text-decoration:none;
}
