@CHARSET "UTF-8";

.full-width {
	width:1000px;
	margin:0 0 25px 0;
	
}

.full-width ul {
	margin:0;
	padding:0;
	list-style:none;
}

.full-width .plashka-top {
	width:1000px;
	height:51px;
	background:url(/theme/img/index-categories-widget/plashka-top-light-bg.png) top center no-repeat;
}

.full-width .plashka-top .tab-native {
	display:block;
	width:235px;
	height:51px;
	float:left;
	cursor:pointer;
}

.full-width .plashka-top .tab-native-active {
	display:block;
	width:235px;
	height:51px;
	float:left;
	background:url(/theme/img/index-categories-widget/native-title-active-bg.png) top center no-repeat;
	cursor:pointer;
}

.full-width .plashka-top .tab-native span,
.full-width .plashka-top .tab-native-active span {
	font-size:24px;
	color:#fff;
	padding:12px 0 0 22px;
	display:block;
}

.full-width .plashka-top .tab-concurents {
	display:block;
	width:480px;
	height:51px;
	float:left;
	cursor:pointer;
}

.full-width .plashka-top .tab-concurents span,
.full-width .plashka-top .tab-concurents-active span{
	font-size:16px;
	color:#fff;
	padding:18px 0 0 22px;
	display:block;
}

.full-width .plashka-top .tab-concurents-active {
	display:block;
	width:480px;
	height:51px;
	float:left;
	background:url(/theme/img/index-categories-widget/concurents-title-active-bg.png) top center no-repeat;
	cursor:pointer;
}


.full-width .plashka-middle {
	background:#0b7ece;
}

.full-width .plashka-middle .wrapper {
	padding:10px 10px 10px 23px;
	position:relative;
}

.full-width .plashka-middle .wrapper ul {
	width:500px;
	margin: 4px 0 0 0;
}

.full-width .plashka-middle .wrapper ul li {
	display:block;
	width:500px;
	padding:3px 0 0 0;
	height:32px;
	background:url(/theme/img/index-categories-widget/left-ul-bg-bottom.png) bottom left no-repeat;
}

.full-width .plashka-middle .wrapper ul li ul {
	display:none;
}

.full-width .plashka-middle .wrapper ul li:hover ul {
	display:block;
}


.full-width .plashka-middle .wrapper ul li:hover {
	display:block;
	width:500px;
	padding:3px 0 0 0;
	height:32px;
	background:url(/theme/img/index-categories-widget/left-ul-bg-hover.png) top left no-repeat;
}



.full-width .plashka-middle .wrapper ul li a {
	font-size:18px;
	color:#fff;
	text-decoration:none;
	border-bottom:1px dashed #fff;
	display:inline-block;
	margin:3px 0 0 0;
	margin:0 0 0 10px;
}

.full-width .plashka-middle .wrapper ul li ul {
	position:absolute;
	left:520px;
	top:6px;
	background:#1da0ed;
	width:440px;
	padding:12px 17px 12px 5px;
}

.full-width .plashka-middle .wrapper ul li ul li {
	width:432px;
	height:29px;
	background:none;
	margin:0;
	padding:0;
}
.full-width .plashka-middle .wrapper ul li ul li:hover {
	width:432px;
	height:29px;
	background:none;
	margin:0;
	padding:0;
}

.full-width .plashka-middle .wrapper ul li ul li a {
	display:block;
	font-size:16px;
	width:404px;
	height:26px;
	text-decoration:underline;
	border-bottom:none;
	padding:3px 0 0 28px;
	background:url(/theme/img/index-categories-widget/gear-nohover.png) 7px 5px no-repeat;
}

.full-width .plashka-middle .wrapper ul li ul li a:hover {
	background:url(/theme/img/index-categories-widget/gear-hover.png) top left no-repeat;
}

.full-width .plashka-bottom {
	width:1000px;
	height:2px;
	background:url(/theme/img/index-categories-widget/plashka-bottom-bg.png) top center no-repeat;
}
