@CHARSET "UTF-8";

.latest-news-container {
	width:364px;
}


.latest-news-container .title-plashka {
	width:364px;
	height:31px;
	background:url(/theme/img/latest-news-widget/title_plashka_bg.png) top center no-repeat;
}

.latest-news-container .title-plashka .title {
	float:left;
	display:block;
	color:#0493de;
	font-size:16px;
	margin:5px 0 0 11px;
}

.latest-news-container .title-plashka .extend {
	float:right;
	display:block;
	color:#393939;
	font-size:12px;margin:7px 17px 0 0;
}

.latest-news-container .content-plashka {
	background:#ebebeb;
	width:364px;
	padding:13px 0 10px 0;
}

.latest-news-container .content-plashka .loader {
	width:364px;
	height:66px;
	background:url(/theme/img/latest-news-widget/ajax-loader.gif) top center no-repeat;
}

.latest-news-container .content-plashka .items {
	
}

.latest-news-container .content-plashka .items .item {
	background:url(/theme/img/latest-news-widget/items-delimiter.png) bottom center no-repeat;
	padding:0 17px 13px 11px;
	margin:0 0 23px 0;
}

.latest-news-container .content-plashka .items .item .thumbnail {
	display:block;
	width:65px;
	float:left;
}

.latest-news-container .content-plashka .items .item .text {
	float:right;
	width:254px;
	margin-top:-3px;
}

.latest-news-container .content-plashka .items .item .text-refer {
	width:364px;
	margin-top:-3px;
}

.latest-news-container .content-plashka .items .item .text .title {
	display:block;
	font-size:14px;
	color:#3887c4;
	margin:0 0 10px 0;
}

.latest-news-container .content-plashka .items .item .text-refer .title {
	display:block;
	font-size:14px;
	color:#3887c4;
	margin:0 0 10px 0;
}

.latest-news-container .content-plashka .items .item .text .date {
	font-size:10px;
	color:#555555;
}

.latest-news-container .content-plashka .items .item .text-refer .date {
	font-size:10px;
	color:#555555;
}


.latest-news-container .content-plashka .pages-plashka {
	padding:0 17px 4px 11px;
}

.latest-news-container .content-plashka .pages-plashka a {
	display:block;
	float:left;
	width:24px;
	height:21px;
	margin:0 5px 5px 0;
	font-size:14px;
	color:#5f5f5f;
	background:#d6d5d5;
	text-align:center;
	padding:3px 0 0 0;
}

.latest-news-container .content-plashka .pages-plashka .current {
	display:block;
	float:left;
	width:24px;
	height:21px;
	margin:0 5px 5px 0;
	font-size:14px;
	color:#fff;
	background:#4a8ec7;
	text-align:center;
	padding:3px 0 0 0;
	
}

.latest-news-container .bottom-plashka {
	width:364px;
	height:9px;
	background:url(/theme/img/latest-news-widget/bottom_plashka_bg.png) bottom center no-repeat;
}