@CHARSET "UTF-8";

#CustomerSupport {
	width:324px;
	margin:0 auto;
}

#CustomerSupport dt {
	margin:0;
	padding:0 0 3px 0;
	font-weight:bold;
}

#CustomerSupport dd {
	margin:0 0 10px 0;
	padding:0;
}

#CustomerSupport input {
	width:324px;
}

#CustomerSupport textarea {
	width:324px;
	height:100px;
}

#CustomerSupport #submit-element .form-loader {
	width:43px;
	height:11px;
	margin:10px auto;
	background:url(/theme/img/form-loader.gif) top left no-repeat;
}

#CustomerSupport .form-error {
	margin:5px 0 15px 0;
	background:url(/theme/img/error.png) no-repeat 5px 5px ;
	padding:5px 5px 5px 25px;
	color:red;
	border-bottom:1px dashed #ccc;
}

#support .success {
	margin:5px 20px 15px 20px;
	background:url(/theme/img/ok.gif) no-repeat 5px 5px ;
	padding:5px 5px 5px 25px;
	color:green;
}

.index-support {
	width:610px;
	margin: 15px 0 0 0;
}

.index-support .img {
	float:left;
	width:130px;
	height:130px;
	background:url(/theme/img/support.png) no-repeat;
	margin:0 15px 0 0;
}

.index-support .container {
	float:left;
	width:464px;
	padding:20px 0 0 0;
}

.index-support .container .title {
	font-size: 18px;
	color:#3485c3;
	margin: 0 0 10px 0;	
}

.index-support .container .text {
	font-size: 14px;
	font-weight:bold;
	color:#6A6A6A;
	padding:0 0 10px 0;
	border-bottom:1px dashed #ccc;
}

.index-support .container .text a {
	color:#6A6A6A;
}
